doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/index.css')
  title success
.container
  h1 success!
  p Your information has been captured
  a(href='/register') back to register
