body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    /* overflow: hidden; */
}
.form-one{
    margin-right: 20px;
    margin-left: 20px;

}
.content{
    margin-left: 25%;
    margin-top: 20px;
    background-color: white;
    border: #1F4E79;
    width: 53%;
}
.header{
    margin-left: 29%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1F4E79;
}
.btn.btn-primary{
    float: right;
    width: 200px;
    font-weight: bold;
    color: white;;
}
.inputs{
    padding: 20px;
}
.form-label{
    font-weight: bold;
    color: #1F4E79;
}
