<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/form.css">
    <title>COVID FORM</title>
</head>
<body>
    <div class="container">
        <input type="text" name="" id="black"><br>
        <input type="text" name="" id="yellow"><br>
        <input type="text" name="" id="red"><br>
        <input type="text" name="" id="black"><br>
        <input type="text" name="" id="yellow"><br>
        <input type="text" name="" id="red"><br>
        <img id="emb" src="../public/image/emblem.jpg" alt="emblem">
        <h1>Ministry of Health</h1>
        <h2>COVID-19 (CORONA VIRUS</h2>
        <h3>Virus-Test Registration Form</h3>
        <form action="">
          <label class="sur">Surname</label><br>
          <input class="surpac" type="text" name="surname">
        
          <label class="given" for="given">Given name</label><br>
          <input class="givepac" type="text" name="givenName"><br>

          <label class="date" for="date">Date of Birth</label>
          <input class="datepac"  type="date" name="date" id="date">

          <label class="place" for="place">Place of residence</label>
          <input class="plaspac" type="text" name="place"><br>

          <label class="opt" for="occupation">Occupation</label><br>
          <input class="optpac" type="text" name="occupation">

          <label class="national" for="Nationality">Nationality</label><br>
          <input class="nation" type="text" name="nationality"><br>

          <label class="gender" for="gender">
            <label class="gend" for="gender">Gender</label>
            <input class="male" type="checkbox" name="gender" id="male">
            <span class="m">Male</span><br>

            <input class="fmale" type="checkbox" name="gender" id="female">
            <span class="fm">Female</span><br>
          </label>

          <h2 class="name">Category</h2>
            <select class="option" name="subject">
                <option disabled="disabled" selected="selected">--choose option</option>
                <option>positive</option>
                <option>negative</option></select>
          <button class="mode">Register</button>
        </form>

    </div>
</body>
</html>