*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	padding: 0;
	margin: 0;
}
.formnav {
	height: 100px;
	background: url("/images/0_FornHeader.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.button-primary {
	background-color: #334E76;
	color: white;
	font-size: 20px;
}

main {
	min-height: 100vh;
	background-color: #ECEEF1;
}

.auth-form {
	min-width: 320px;
	max-width: 600px;
	width: 100%;
	margin: 1em auto 1em auto;
}

.auth-form h4 {
	font-weight: 500;
	color: #334E76;
	/* word-spacing: 0.4em; */
}

.auth-form label {
	color: #334E76;
	font-weight: 500;
	letter-spacing: -1px;
	font-size:larger

}

.auth-form input {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}


.form-text {
	font-size: 12px;
}

.error-label {
	display: none;
}
