doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Uwezo Finance services
  link(rel='stylesheet' href='/CSS/styles.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
.container
  .row
    .col-2
    .col-8.header-image
      img(src='/IMG/0_FornHeader.png' alt='')
      .title-text
        h3 Loan Form 
      form.row.col-12.form-wrapper(method='post' onsubmit='return validateForm()' action='/register')
        .col-md-6
          label.form-label(for='sirname') Sirname
          input#sirname.form-control(type='text' name='sirname')
          span#sirnameError
        .col-md-6
          label.form-label(for='givenname') Given name
          input#givenname.form-control(type='text' name='givenname')
          span#givennameError
        .col-md-6
          label.form-label(for='nin') NIN
          input#nin.form-control(type='text' name='nin')
          span#ninError
        .col-md-6
          label.form-label(for='dob') Date of Birth
          input#dob.form-control(type='date' name='dob')
          span#dobError
        .col-md-6
          label.form-label(for='occupation') Occupation
          input#occupation.form-control(type='text' name='occupation')
          span#occupationError
        .col-md-6
          label.form-label(for='work') Place of Work
          input#work.form-control(type='text' name='work')
          span#workError
        .col-md-6
          label.form-label(for='gender') Gender
          select#gender.form-select(type='text' name='gender')
            option(selected='' value="Default") --Select Gender--
            option Male
            option Female
          span#genderError
        .col-md-6
          label.form-label(for='loan') Loan Amount
          input#loan.form-control(type='number' name='loan')
          span#loanError
        .col-md-6
          label.form-label(for='security') Loan Security
          input#security.form-control(type='text' name='security')
          span#securityError
        .col-md-6
          label.form-label(for='fallback') Fallback Security
          input#fallback.form-control(type='text' name='fallback')
          span#fallbackError
        .col-12(class='style=')
          button.btn.btn-primary(type='submit') Register
  script(src="/JS/register.js")